* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    background-color: rgb(255, 187, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* מסדר הכל בעמודה */
}

.tictactoe {
    background-color: black;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 4px 4px 10px 2px black;
}
.tictactoe .btn {
    background-color: white;
    width: calc(33% - 6px);
    height: calc(33% - 6px);
    margin: 3px;
    border-radius: 11px;
    font-size: 75px;
    font-weight: 750;
    text-align: center;
}

/* עיצוב הכפתור */
#homeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#homeButton:hover {
    background-color: #555;
}
#homeButton:active {
    background-color: #777;
}
@media (max-width: 500px) {
    #homeButton {
        font-size: 16px;
        padding: 8px 16px;
    }
}

#restartButton {
    margin-top: 10px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
#restartButton:hover {
    background-color: #0056b3;
}
@media (max-width: 500px) {
    #restartButton {
        font-size: 16px;
        padding: 10px 20px;
    }
}

